#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
# Node Modules
node_modules
package-lock.json

# Other File
tsconfig.json
tsconfig-dev.json
yarn-error.log
yarn.lock
components/**/*.tsx
# ignore the .ts files
components/**/*.ts
# include the .d.ts files
components/**/!*.d.ts
docs
demo